* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap");



.nav__valores,
footer {
  background-color: rgb(41, 41, 41);
  color: aliceblue;
}

.navbar__valores {
  font-weight: bolder;
  font-size: 1.5rem;
}

body {
  background: url(../assets/image/sonatafondo.png) no-repeat center center fixed;
  background-size: cover;
}

/* .color {
  background-color: rgba(80, 80, 80, 0.3);
  border-radius: 20px;
  font-weight: bolder;
  color: rgb(220, 200, 200);
} */

.padding__sectionspace {
  padding-top: 10rem;
  margin-top: 10rem;
}

.titulos__valores {
  font-size: 5rem;
  background-color: black;
  
}