
* {
  margin: 0;
  padding: 0;
}

/* @import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap"); */


/* header - navbar - body - footer */

.nav__valores,
footer {
  background-color: rgb(41, 41, 41);
  color: aliceblue;
}

.navbar__valores {
  font-weight: bolder;
  font-size: 1.5rem;
}

body {
  background: url(../assets/image/sonatafondo.png) no-repeat center center fixed;
  background-size: cover;
}

/* Fin header - navbar - body - footer */

/* Texto - Padding Section  */

.color {
  background-color: rgb(41, 41, 41);
  border-radius: 20px;
  font-weight: bolder;
  color: aliceblue;
}


.padding__sectionspace {
  padding-top: 10rem;
  margin-top: 10rem;
}

.padding__contact {
  padding: 20rem 1rem;
}

.titulos__valores {
  display: flex;
  font-size: 4.5rem;
  background-color: rgb(41, 41, 41);
  width: fit-content;
  border-radius: 20px;
}

/* Fin Texto - Padding Section  */

/* Formulario Contacto */

.titulo_contacto {
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  width: fit-content;
  border-radius: 20px;
  color: aliceblue;
}

.container div h1 {
  margin-bottom: 40px;
}

label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
  }
.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;

}

.card{
margin-left: 10px;
margin-right: 10px;
}

/* Fin Formulario Contacto */